:global .container {
  margin-top: 50px;
  width: fit-content;
  height: fit-content;
}

:global .background {
  background-size: 1600px 800px;
}

p {
  width: 1000px;
}

ul {
  list-style: none;
  padding-left: 0;
}

:global .noobflix {
  display: none;
}
